# flyctl launch added from .gitignore
# created by virtualenv automatically
**/.venv/bin

# Byte-compiled / optimized / DLL files
**/__pycache__
**/*.py[cod]
**/*$py.class

# Distribución
**/build
**/develop-eggs
**/dist
**/downloads
**/eggs
**/.eggs
**/lib
**/lib64
**/parts
**/sdist
**/var
**/*.egg-info
**/.installed.cfg
**/*.egg

# Archivos de entorno virtual
**/.env
**/.venv
**/env
**/venv
**/ENV
**/env.bak
**/venv.bak

# Archivos de configuración de IDEs
**/.vscode
**/.idea
**/*.sublime-project
**/*.sublime-workspace

# Archivos de Django
**/*.log
**/local_settings.py
**/db.sqlite3
**/media
**/staticfiles
**/static

# Archivos de migraciones (opcional, puedes no ignorarlos si los versionas)
# */migrations/*.py
**/*/migrations/__pycache__

# Archivos de imágenes y archivos subidos por usuarios
**/media

# Archivos del sistema operativo
**/.DS_Store
**/Thumbs.db

# Archivos de test coverage
**/htmlcov
**/.tox
**/.coverage
**/.coverage.*
**/.cache
**/nosetests.xml
**/coverage.xml
**/*.cover
**/.hypothesis

# Otros
**/*.pot
**/*.mo
**/*.swp
**/*.bak
**/*.tmp

**/.idea
**/.vscode
**/*.sublime-project
**/*.sublime-workspace

# flyctl launch added from .idea/.gitignore
# Default ignored files
.idea/shelf
.idea/workspace.xml
# Editor-based HTTP Client requests
.idea/httpRequests
# Datasource local storage ignored files
.idea/dataSources
.idea/dataSources.local.xml
fly.toml
